* {
    margin: 0;
    padding: 0;
}


/* /pseudo class */
.display{
    display: none;
  }

.body {
    background-color: #121417;
    font-family: Overpass;
}

.rating-card {
    background-color: #262e38;
    height: 70vh;
}

.star-icon {
    background-color: #7c87981a;
}

.rate-text {
    color: #959eac;
    /* font-family: cursive; */
    /* font-size: 0.76rem; */
}

.rateButtons {
background-color: #7c87981a;
}

.rateButtons:hover {
background-color: #fb7413;
}

.rating-submit {
    color: #fb7413;
}

.rating-submit:hover {
    background-color: #fb7413;
    color: #ffffff;
}

/* footer */
.attribution { 
    font-size: 11px; 
    text-align: center;
    color: #959eac; 
}

.attribution a { 
    color: #fb7413; 
}

/* span text */
.current_rating {
    background-color: #7c87981a;
    color: #fb7413;
}


/* THANK-YOU CARD */
.thankyouClass {
    background-color: #262e38;
    height: 70vh;
}

/* White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%) */